*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    }

.footer-blocks{
    background:rgba(0, 0, 0, 0.664);
    padding: 50px;
    display: flex;
    justify-content: space-between; 
}   

.footer-block{
    width: 33.3333%;
    box-sizing: border-box;
    padding-right: 70px;  
}